.parent{
    background-color: #EEE;
    width: 400px;
    height: 100px;
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    transition-duration: .5s;
}

.child{
    background-color: #DDD;
    width: 300px;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    transition-delay: .5s;
    transition-duration: .5s;

}

.parent:hover{
    margin-top: 50px;
}
.parent:hover .child {
     margin-top: 30px;
}

