*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns:repeat(3,auto);
    grid-template-rows: auto 1fr;
    gap: 20px;
}

.grid div{
    background-color: #607D8B;
    color: white;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.one::before{
    content: "Element 1";
}

.two::before{
    content: "Element 2";
}

.three::before{
    content: "Element 3";
}

.four::before{
    content: "Element 4";
}

.five::before{
    content: "Element 5";
}

.six::before{
    content: "Element 6";

}