div {
  width: 600px;
  padding: 10px;
  margin: 30px auto;
  position: relative;
}

input {
  width: 600px;
  padding: 15px;
  margin: 30px auto;
  outline: none;
  border: none;
  background-color: #EEE;
  caret-color: #f44336;
}

div::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: calc(50% - 20px);
  width: 630px;
  height: 5px;
  background-image: linear-gradient(to right, #f44336 50%, #2196f3 50%);
}