p{
  background-color: #EEE;
  width: 400px;
  padding: 10px;
  margin: 10px auto;
  position: relative;
  border-left: 5px solid #E91E63;

}
p::before{
  content: attr(data-person);
  width: 60px;
  position: absolute;
  padding: 10px;
  left: -100px;
  background-color: #EEE;
  top: calc(50% - 20px);

}

p::after{
  content: "";
  position: absolute;
  width: 0px;
  height: 0px;
  border: 10px solid;
  border-color: transparent #E91E63 transparent transparent;
  left: -24px;
}