* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    gap: 15px;
    align-content: space-between;
}

.grid div{
    background-color: #E91E63;
    text-align: center;
}