* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}


.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.grid div {
    background-color: #2196F3;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eight {
    grid-area: 1/1/1/7;
}
.two{
    grid-area: 2/1/2/5;
}
.three{
    grid-area: 2/5/2/7;
}

.five{
    grid-area: 3/3/6/7;
}
.one{
    grid-area: 6/1/6/7;
}

.four,.six,.seven{
    grid-column: span 2;
}