div{
  width: 400px;
  margin: auto;
  margin-top: 40px;
  background-color: #EEE;
  font-family: Arial;
  padding: 20px;
  border-top: 3px solid #F44336;
  border-bottom: 3px solid #F44336;
  border-right: 3px solid#2196F3;
  border-left: 3px solid#2196F3;
  position: relative;
}

span{
 position: absolute;
 background-color: #2196F3;
 padding: 6px 10px;
 color: white;
}
.top-left{
  top:-15px;
  left: -15px;
  border-right: 3px solid red;
}

.bottom-left{
  bottom:-15px;
  left: -15px;
  border-right: 3px solid red;
}

.top-right{
  top:-15px;
  right: -15px;
  border-left: 3px solid red;
}

.bottom-right{
  bottom:-15px;
  right: -15px;
  border-left: 3px solid red;
}