* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.grid {
    background-color: #ddd;
    padding: 20px;
    width: 800px;
    height: 400px;
    margin: 20px auto;
    display: grid;
    gap: 15px;
    grid-template-columns: auto 1fr 1fr auto;
    grid-template-rows: 1fr auto;
}

.grid div{
    background-color: #403F3F;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}