:root {
  --mainColor: #009688;
  --mainPadding: 10px;
}

div {
  padding: var(--mainPadding,10px);
  border: 2px solid var(--mainColor,black);
  width: 300px;
  margin: 10px auto;
  color: var(--mainColor,red);
  font-family: Arial, Helvetica, sans-serif;

}